<a href="https://colab.research.google.com/github/Pipsicle/sit742/blob/master/Copy_of_github_742.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SIT742: Modern Data Science 
**(Assessment Task 02: Bank Marketing Data Analytics)**

---
- Materials in this module include resources collected from various open-source online repositories.
- You are free to use, change and distribute this package.

Prepared by **SIT742 Teaching Team**


---

**Project Group Information:**

- Names:
- Student IDs:
- Emails:

---

## 1. Import Spark

In [0]:

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.0/spark-2.4.0-bin-hadoop2.7.tgz
!tar --extract --file spark-2.4.0-bin-hadoop2.7.tgz
#!pip install pyspark
!pip install findspark
#https://www.apache.org/dyn/closer.lua/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.0-bin-hadoop2.7"

Collecting findspark
  Downloading https://files.pythonhosted.org/packages/b1/c8/e6e1f6a303ae5122dc28d131b5a67c5eb87cbf8f7ac5b9f87764ea1b1e1e/findspark-1.3.0-py2.py3-none-any.whl
Installing collected packages: findspark
Successfully installed findspark-1.3.0

In [0]:

!pip install wget 
import wget
import findspark
findspark.init()
from pyspark.sql import SparkSession 
spark = SparkSession.builder.master("local[*]").getOrCreate()
link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/bank.csv'
DataSet = wget.download(link_to_data)
df = spark.read.csv(DataSet,header=True,sep=",")
#df.show(2)
#print(df.collect())
#df.columns
#df.count()
#df.describe()
#df.fillna(-1).show(5)
df.na.drop()
df.registerTempTable('bank_table')
spark.sql('select age, marital, job, education, balance, default,housing,loan,duration,campaign, previous,poutcome, deposit from bank_table where poutcome IN ("success", "failure") AND education != "unknown" AND job != "unknown"' ).show(2181)

Requirement already satisfied: wget in /usr/local/lib/python3.6/dist-packages (3.2)
+---+--------+-------------+---------+-------+-------+-------+----+--------+--------+--------+--------+-------+
|age| marital|          job|education|balance|default|housing|loan|duration|campaign|previous|poutcome|deposit|
+---+--------+-------------+---------+-------+-------+-------+----+--------+--------+--------+--------+-------+
| 33| married|     services|secondary|   3444|     no|    yes|  no|     144|       1|       4| failure|    yes|
| 56| married|   technician|secondary|    589|     no|    yes|  no|     518|       1|       2| success|    yes|
| 34| married|       admin.| tertiary|    899|     no|    yes|  no|     114|       1|       3| failure|    yes|
| 53| married|      retired| tertiary|   2269|     no|     no|  no|    1091|       2|       1| success|    yes|
| 37| married|   technician|secondary|   5115|     no|    yes|  no|    1210|       2|       4| failure|    yes|
| 45| married| entrepreneur|secondary|    781|     no|     no| yes|     652|       2|       2| failure|    yes|
| 46|divorced|   unemployed|secondary|   3354|     no|    yes|  no|     522|       1|       1| success|    yes|
| 40| married|   management| tertiary|   3352|     no|    yes|  no|     639|       2|       1| success|    yes|
| 32| married|   technician| tertiary|   4654|     no|    yes| yes|     276|       1|       2| failure|    yes|
| 30| married|  blue-collar|secondary|    501|     no|    yes| yes|     994|       1|       1| failure|    yes|
| 46| married|   technician| tertiary|      0|     no|     no|  no|     531|       1|       1| failure|    yes|
| 38| married| entrepreneur| tertiary|   1110|     no|    yes|  no|     888|       2|       2| failure|    yes|
| 32| married|     services|secondary|    983|     no|    yes|  no|     500|       2|       1| failure|    yes|
| 31| married|   unemployed|secondary|    314|     no|    yes|  no|    1341|       3|       7| failure|    yes|
| 50| married|  blue-collar|  primary|  12519|     no|    yes|  no|     615|       3|       1| failure|    yes|
| 47| married|   technician|secondary|      0|     no|     no|  no|     591|       1|       1| failure|    yes|
| 59| married|   management| tertiary|   7049|     no|     no|  no|     530|       1|       2| failure|    yes|
| 31| married|   management|secondary|   8629|     no|    yes|  no|     957|       1|       2| failure|    yes|
| 53| married|  blue-collar|secondary|   1777|     no|    yes|  no|     796|       5|       1| failure|    yes|
| 40|  single|   technician| tertiary|   1646|     no|    yes|  no|     215|       1|       2| failure|    yes|
| 44| married|   unemployed|secondary|      0|     no|    yes|  no|     699|       1|       1| failure|    yes|
| 43|  single|       admin.|secondary|   -247|     no|    yes| yes|     751|       2|       4| failure|    yes|
| 54|divorced|   technician|secondary|   2156|     no|    yes|  no|     261|       1|       4| failure|    yes|
| 31| married|   management| tertiary|   1331|     no|     no|  no|     182|       2|       1| success|    yes|
| 28| married|self-employed| tertiary|      0|     no|    yes|  no|     546|       3|       4| failure|    yes|
| 32|  single|       admin.|secondary|    678|     no|    yes|  no|    1579|       1|       4| failure|    yes|
| 41|  single|self-employed| tertiary|    -94|     no|    yes|  no|    1164|       1|       1| failure|    yes|
| 31|  single|   technician| tertiary|   1109|     no|     no|  no|     642|       1|       2| failure|    yes|
| 26|  single| entrepreneur|secondary|    101|     no|    yes|  no|     810|       1|       1| failure|    yes|
| 31|  single|   management| tertiary|  12857|     no|    yes|  no|     158|       1|       1| success|    yes|
| 33|  single|  blue-collar| tertiary|    700|     no|     no|  no|     126|       1|       1| success|    yes|
| 34| married|       admin.|secondary|      0|     no|    yes|  no|      97|       1|       1| failure|    yes|
| 40| married|  blue-collar|secondary|   5060|     no|     no|  no|     154|       2|       1| success|    yes|
| 37| married|       admin.|secondary|   1314|     no|    yes|  no|     118|       4|       3| failure|    yes|
| 33|  single|   management| tertiary|   3552|     no|     no|  no|     158|       2|       3| failure|    yes|
| 30|  single|   management| tertiary|   5561|     no|    yes|  no|     195|       1|       1| success|    yes|
| 60| married|      retired|secondary|    404|     no|     no|  no|     308|       2|       2| failure|    yes|
| 31|divorced|   management| tertiary|    883|     no|    yes|  no|     112|       2|       1| failure|    yes|
| 44|  single|   management| tertiary|    483|     no|     no|  no|     207|       2|       6| success|    yes|
| 37|  single|   unemployed| tertiary|   1316|     no|    yes|  no|     350|       2|       3| failure|    yes|
| 37|  single|     services|secondary|   1045|     no|     no|  no|     406|       2|       1| failure|    yes|
| 30| married|   management| tertiary|   8089|     no|    yes|  no|     232|       2|       2| failure|    yes|
| 34| married|   technician|secondary|    390|     no|    yes|  no|      95|       2|       2| failure|    yes|
| 50| married|   management| tertiary|    414|     no|    yes|  no|     707|       1|       3| failure|    yes|
| 55|divorced|  blue-collar|secondary|   1613|     no|    yes|  no|     296|       1|       3| failure|    yes|
| 41| married|self-employed|secondary|   3123|     no|    yes|  no|    1203|       2|       2| failure|    yes|
| 33|  single|   technician| tertiary|    127|     no|    yes|  no|     583|       2|      17| failure|    yes|
| 37| married|       admin.|secondary|   1207|     no|    yes|  no|    1353|       2|       2| success|    yes|
| 48| married|   management|secondary|   4415|     no|    yes|  no|    1032|       3|       7| failure|    yes|
| 32| married|   technician|secondary|    303|     no|    yes|  no|     150|       1|       4| failure|    yes|
| 38|  single|  blue-collar|secondary|   2580|     no|    yes|  no|    1691|       2|       3| failure|    yes|
| 41| married|     services|secondary|    803|     no|    yes|  no|     592|       4|       3| failure|    yes|
| 33|  single|   technician|secondary|    719|     no|    yes|  no|     448|       2|       6| failure|    yes|
| 45| married|  blue-collar|secondary|     96|     no|    yes|  no|     348|       3|       2| failure|    yes|
| 33| married|   management| tertiary|      0|     no|    yes|  no|     535|       3|       1| failure|    yes|
| 33|  single|       admin.|secondary|    572|     no|    yes|  no|     344|       1|       2| failure|    yes|
| 44|divorced|       admin.|secondary|      0|     no|     no|  no|    1594|       1|       1| failure|    yes|
| 43| married|     services|  primary|   2557|     no|    yes|  no|     165|       2|       3| failure|    yes|
| 32| married|     services|secondary|   1129|     no|    yes|  no|     903|       2|       2| failure|    yes|
| 38|  single|   management| tertiary|   6158|     no|    yes|  no|     139|       5|       9| failure|    yes|
| 52|  single| entrepreneur| tertiary|   3469|     no|    yes|  no|     583|       1|       1| success|    yes|
| 35| married|   technician|secondary|    545|     no|    yes|  no|    1579|       1|       4| failure|    yes|
| 32| married|     services|secondary|   1273|     no|    yes|  no|    1365|       2|       1| failure|    yes|
| 32|  single|   technician| tertiary|    932|     no|    yes|  no|     944|       1|       1| failure|    yes|
| 40|divorced|     services|  primary|    471|     no|    yes|  no|    1156|       1|       2| failure|    yes|
| 32|divorced|   management| tertiary|    294|     no|    yes|  no|    1095|       1|       5| success|    yes|
| 34| married|  blue-collar|  primary|    329|     no|    yes|  no|     952|       1|       1| failure|    yes|
| 37| married|  blue-collar|  primary|   3154|     no|    yes|  no|     404|       1|       3| failure|    yes|
| 29| married|   technician|secondary|   1180|     no|    yes|  no|     367|       3|       3| failure|    yes|
| 34| married|   management|secondary|    879|    yes|    yes|  no|     712|       1|       1| failure|    yes|
| 53| married|   technician|secondary|   5303|     no|    yes|  no|     320|       3|       1| success|    yes|
| 28|  single|   technician| tertiary|    387|     no|    yes|  no|     205|       1|       1| failure|    yes|
| 29| married|self-employed|secondary|    123|     no|     no| yes|     158|       2|       1| success|    yes|
| 33| married|       admin.| tertiary|    882|     no|     no|  no|     104|       1|       4| failure|    yes|
| 53| married|   management| tertiary|   3754|     no|     no|  no|     307|       1|       2| failure|    yes|
| 37| married|   management| tertiary|      0|     no|    yes|  no|     242|       5|       7| failure|    yes|
| 32|  single|   management| tertiary|   2974|     no|    yes|  no|     227|       1|       1| failure|    yes|
| 31|  single|   technician| tertiary|   1081|     no|     no|  no|     202|       5|       2| failure|    yes|
| 29| married|       admin.|secondary|   7707|     no|    yes|  no|     961|       2|       2| failure|    yes|
| 38| married|     services|secondary|   1970|     no|    yes|  no|     701|       1|       1| success|    yes|
| 47| married|   technician|secondary|   1167|     no|    yes|  no|     968|       1|       5| failure|    yes|
| 52| married|   management| tertiary|    193|     no|     no|  no|     381|       1|       1| failure|    yes|
| 36|  single|   unemployed| tertiary|   1291|     no|     no|  no|     195|       1|       1| success|    yes|
| 47| married|  blue-collar|secondary|   1230|     no|    yes|  no|     412|       1|       1| success|    yes|
| 36| married|       admin.|secondary|     96|     no|     no|  no|     208|       1|       1| success|    yes|
| 23|  single|      student|secondary|      0|     no|     no|  no|     297|       1|       6| success|    yes|
| 29|  single|   management| tertiary|    697|     no|     no|  no|     365|       1|       1| success|    yes|
| 58|divorced|   management| tertiary|   5701|     no|     no|  no|     354|       1|       1| success|    yes|
| 48| married|  blue-collar|secondary|    292|     no|     no|  no|     271|       1|       1| success|    yes|
| 42| married|   technician| tertiary|    757|     no|     no|  no|     354|       1|       1| success|    yes|
| 42| married|  blue-collar|  primary|    201|     no|    yes|  no|     841|       1|       2| failure|    yes|
| 30|  single|   management| tertiary|    398|     no|     no|  no|     554|       1|       2| success|    yes|
| 35|  single|   management| tertiary|   1750|     no|    yes|  no|     687|       1|       3| success|    yes|
| 35| married|   management| tertiary|    193|     no|    yes|  no|     565|       1|       1| failure|    yes|
| 35|  single|       admin.| tertiary|    994|     no|     no|  no|     400|       1|       2| failure|    yes|
| 42| married|   management| tertiary|   6060|     no|    yes|  no|     316|       1|       2| failure|    yes|
| 33| married|   management| tertiary|     55|     no|     no|  no|     526|       2|       3| failure|    yes|
| 53| married|   management| tertiary|   1624|     no|     no|  no|     284|       3|       3| success|    yes|
| 26|  single|       admin.|secondary|    255|     no|     no|  no|     457|       1|       1| success|    yes|
| 30|  single|       admin.|secondary|    270|     no|     no|  no|     437|       1|       1| success|    yes|
| 38| married|   management| tertiary|    613|     no|     no|  no|     242|       1|       1| success|    yes|
| 29|  single|   technician|secondary|    674|     no|     no|  no|     483|       1|       5| success|    yes|
| 47|  single|   management| tertiary|     86|     no|     no|  no|     387|       3|       1| success|    yes|
| 34|  single|   management| tertiary|   1228|     no|     no|  no|     580|       2|       8| success|    yes|
| 54|divorced|   technician|secondary|   2156|     no|    yes|  no|     258|       1|       5| success|    yes|
| 46| married|   management| tertiary|    699|     no|     no|  no|     970|       1|       1| failure|    yes|
| 47| married|  blue-collar|  primary|   2749|     no|    yes|  no|     774|       2|       1| failure|    yes|
| 33|  single|  blue-collar| tertiary|    700|     no|     no|  no|     169|       1|       2| success|    yes|
| 54| married|   technician|secondary|      0|     no|     no|  no|     766|       3|       3| success|    yes|
| 31|  single|   management| tertiary|    354|     no|     no|  no|     502|       1|       2| success|    yes|
| 30|  single|       admin.| tertiary|    305|     no|     no|  no|     633|       1|       2| success|    yes|
| 28|  single|   unemployed|  primary|    236|     no|     no|  no|     193|       1|       3| failure|    yes|
| 33|  single|   management| tertiary|   5437|     no|     no|  no|     267|       1|       1| failure|    yes|
| 41| married|  blue-collar|secondary|   5060|     no|     no|  no|     963|       1|       3| success|    yes|
| 38|divorced|   technician|secondary|    902|     no|    yes|  no|     301|       3|       1| success|    yes|
| 47| married|   technician|secondary|    335|     no|     no|  no|     417|       1|       1| success|    yes|
| 49| married|   management| tertiary|      1|     no|     no|  no|    1076|       3|       1| success|    yes|
| 33|  single|   technician| tertiary|   1636|     no|    yes|  no|     592|       1|       1| success|    yes|
| 60| married|   technician|secondary|    316|     no|     no|  no|     545|       2|       4| failure|    yes|
| 32|  single|      student| tertiary|   1138|     no|     no|  no|     214|       3|       3| success|    yes|
| 36| married|self-employed|secondary|    188|     no|    yes| yes|    1046|       3|       2| success|    yes|
| 35| married|   management| tertiary|    520|     no|    yes|  no|     458|       3|       5| failure|    yes|
| 30| married|self-employed| tertiary|   2666|     no|     no|  no|     781|       3|       1| success|    yes|
| 39|  single|   management| tertiary|   1515|     no|    yes|  no|     815|       6|       6| failure|    yes|
| 39|  single|   management| tertiary|   2454|     no|    yes|  no|     716|       3|       2| failure|    yes|
| 35| married| entrepreneur|secondary|   2971|     no|     no|  no|     429|       4|       2| failure|    yes|
| 59|divorced|      retired|secondary|    514|     no|     no|  no|     673|       6|       1| success|    yes|
| 35|  single|      student|secondary|    188|     no|    yes|  no|     863|       1|       8| success|    yes|
| 31|  single|  blue-collar|secondary|    196|     no|    yes|  no|     568|       1|       7| failure|    yes|
| 30|  single|   technician|secondary|   -522|     no|    yes| yes|     670|       2|       6| failure|    yes|
| 27| married|       admin.|secondary|    710|     no|    yes| yes|     653|       1|       2| success|    yes|
| 37|divorced|   technician|secondary|    141|     no|    yes|  no|     848|       1|       3| failure|    yes|
| 30|divorced|   management| tertiary|    415|     no|    yes| yes|     984|       1|       4| failure|    yes|
| 34| married| entrepreneur| tertiary|      0|     no|    yes|  no|     611|       1|       1| failure|    yes|
| 36|  single|   management| tertiary|   7506|     no|    yes|  no|     839|       2|       1| success|    yes|
| 32| married|       admin.|secondary|    752|     no|    yes|  no|     519|       2|       5| failure|    yes|
| 49| married|   management|secondary|     99|     no|    yes|  no|     687|       2|       1| failure|    yes|
| 33| married|   management|secondary|   3935|     no|    yes|  no|     765|       1|       2| failure|    yes|
| 31|  single|   management| tertiary|     59|     no|    yes| yes|    1347|       2|       1| failure|    yes|
| 40| married|   management| tertiary|   1598|     no|    yes| yes|    1074|       4|       3| failure|    yes|
| 42| married|  blue-collar|  primary|   1461|     no|    yes|  no|     757|       2|       3| failure|    yes|
| 36|  single|   management| tertiary|      4|     no|    yes|  no|     855|       2|       1| failure|    yes|
| 30|  single|     services|secondary|   -271|     no|    yes|  no|     609|       1|       1| success|    yes|
| 29|  single|   technician| tertiary|      0|     no|    yes|  no|     347|       2|       6| failure|    yes|
| 43| married|   management| tertiary|   1429|     no|    yes|  no|    1030|       1|       3| success|    yes|
| 31|  single|       admin.|secondary|      0|     no|    yes|  no|     895|       2|       2| failure|    yes|
| 42| married|   unemployed|secondary|    356|     no|    yes|  no|     787|       3|       2| failure|    yes|
| 45|divorced|     services|secondary|    608|     no|    yes| yes|    1135|       3|      30| failure|    yes|
| 45|divorced|  blue-collar|secondary|   -184|     no|    yes|  no|     878|       3|       5| failure|    yes|
| 39|  single|       admin.|secondary|   2345|     no|    yes|  no|     491|       2|       2| failure|    yes|
| 57| married|       admin.|secondary|   6005|     no|    yes|  no|     704|       1|       6| failure|    yes|
| 42| married|   management| tertiary|      4|     no|    yes|  no|     579|       2|       1| success|    yes|
| 57| married|   management| tertiary|    830|     no|    yes| yes|     662|       1|       1| success|    yes|
| 47| married|      retired|  primary|   1374|     no|     no| yes|     479|       2|       3| failure|    yes|
| 42| married|   management| tertiary|   -556|     no|    yes| yes|     682|       3|       3| failure|    yes|
| 41|  single|       admin.|secondary|   -109|     no|    yes| yes|    1038|       1|       1| failure|    yes|
| 43|divorced|   management| tertiary|    580|     no|    yes|  no|    1514|       1|       2| failure|    yes|
| 38| married|     services|secondary|   5293|     no|    yes|  no|     475|       1|       6| failure|    yes|
| 34|divorced|       admin.|secondary|    479|     no|    yes|  no|     515|       1|       5| failure|    yes|
| 38|  single|    housemaid|  primary|    199|     no|    yes|  no|    1203|       1|       1| failure|    yes|
| 39|  single|   management| tertiary|   5073|     no|    yes|  no|    1182|       1|       4| failure|    yes|
| 39| married|       admin.|secondary|    607|     no|    yes|  no|     454|       2|       3| failure|    yes|
| 47| married|     services|secondary|    367|     no|    yes|  no|     309|       1|       4| success|    yes|
| 35|  single|  blue-collar|secondary|    855|     no|    yes|  no|     549|       1|       1| success|    yes|
| 46| married|  blue-collar|  primary|    804|     no|    yes|  no|    1063|       2|       1| success|    yes|
| 59| married|       admin.|secondary|    145|     no|    yes|  no|     556|       2|      13| success|    yes|
| 36| married|  blue-collar|  primary|    319|     no|    yes|  no|     774|       2|       1| failure|    yes|
| 33| married|   technician|secondary|    221|     no|    yes|  no|     669|       1|       4| failure|    yes|
| 28|divorced|       admin.|secondary|    451|     no|    yes|  no|     302|       1|       1| success|    yes|
| 42|  single|  blue-collar|secondary|   1080|     no|    yes| yes|     951|       3|       4| failure|    yes|
| 34|  single|   management| tertiary|     76|     no|    yes|  no|     747|       2|       3| failure|    yes|
| 35|  single|   management| tertiary|   1396|     no|    yes|  no|     809|       1|       1| failure|    yes|
| 51|divorced|  blue-collar|  primary|    -19|     no|    yes|  no|     829|       1|      11| failure|    yes|
| 50|divorced|   technician|secondary|    -54|     no|    yes| yes|     698|       2|       1| failure|    yes|

## 2. Read and check data

In [0]:
!pip install wget

In [0]:
import wget

#read data from tulip labs on github and store it as DataSet
link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/bank.csv'
DataSet = wget.download(link_to_data)

In [0]:
!ls

In [0]:
#reading the csv file into a spark dataframe
spark = SparkSession.builder.appName('ml-bank').getOrCreate()
df = spark.read.csv('bank.csv', header = True, inferSchema = True) 

#check import of csv file, show columns and 5 rows
df.printSchema() 
df.show(5)

+---+--------+-------------+-------------+
| id|category|categoryIndex|  categoryVec|
+---+--------+-------------+-------------+
|  0|       a|          0.0|(2,[0],[1.0])|
|  1|       b|          2.0|    (2,[],[])|
|  2|       c|          1.0|(2,[1],[1.0])|
|  3|       a|          0.0|(2,[0],[1.0])|
|  4|       a|          0.0|(2,[0],[1.0])|
|  5|       c|          1.0|(2,[1],[1.0])|
+---+--------+-------------+-------------+

In [0]:
# Check data distribution
df.describe().show()

## 3. Select features

In [0]:
# select features ('age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit') as df2
df2 = df.select('age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit')

#df2.describe().show()

In [0]:
#Remove invalid rows/records using spark.sql

#Creating a local temporary view of df2 for spark.sql as 'bank_table'
df2.createOrReplaceTempView('bank_table')

#Removing rows where poutcome does not equal either 'success' or 'failure'
#Removing any rows where any columns value is equal to 'unknown' (excpet for column poutcome as these values would be removed via 'poutcome IN ("success", "failure")')
df2 = spark.sql('select * from bank_table where poutcome IN ("success", "failure") AND  "unknown" NOT IN (age, job, marital, education, default, balance, housing, loan, campaign, pdays, previous, deposit)')

In [0]:
#Using StringIndexer encode a string column to a column of indices
#Use One Hot Encoder Estimator to map catergoical features to a binary vector
StringColumns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'poutcome']
StringColumnsIndVec = []

for StringColumn in StringColumns:
    stringIndexer = StringIndexer(inputCol = StringColumn, outputCol = StringColumn + 'Index')
    encoder = OneHotEncoderEstimator(inputCols=[stringIndexer.getOutputCol()], outputCols=[StringColumn + "classVec"])
    StringColumnsIndVec += [stringIndexer, encoder]

#print(StringColumnsIndVec)

#use StringIndexer to encode a string column to a column of indices for output variable deposit
#Add deposit to StringColumnsIndVec[]
label_stringIdx = StringIndexer(inputCol = 'deposit', outputCol = 'label')
StringColumnsIndVec += [label_stringIdx]

#add numerical columns to StringColumnsIndVec[] 
numericColumns = ['age', 'balance', 'campaign', 'pdays', 'previous']
assemblerInputs = [c + "classVec" for c in StringColumns] + numericColumns
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
StringColumnsIndVec += [assembler]

#generate df2 column list for selection after pipeline
selectedCols = ['label', 'features'] + cols

#pipeline data to fit and transform assembled columns 
pipeline = Pipeline(stages = StringColumnsIndVec)
pipelineModel = pipeline.fit(df2)
df2 = pipelineModel.transform(df2)

df2 = df2.select(selectedCols)

df2.show()

### 3.1 normalisation

In [0]:
# then apply Min-Max normalisation on each attribute using MinMaxScaler  
from pyspark.ml.feature import MinMaxScaler

## 4. Unsupervised learning

### 4.1 K-means

In [0]:
# Perform unsupervised learning on df2 with k-means 
# you can use whole df2 as both training and testing data, 
# evaluate the clustering result using Accuracy.  

from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

### 4.2 PCA

In [0]:
# generate a scatter plot using the first two PCA components to investigate the data distribution.

from pyspark.ml.feature import PCA
from pyspark.ml.linalg import Vectors

## 5. Supervised learning

In [0]:
train, test = df2.randomSplit([0.7, 0.3], seed = 742)
print("Training Dataset Count: " + str(train.count()))
print("Test Dataset Count: " + str(test.count()))

### 5.1 LogisticRegression

In [0]:
# Logistic Regression

from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [0]:
# exam the coefficients

### 5.2 Decision tree

In [0]:
# Decision tree

from pyspark.ml.classification import DecisionTreeClassifier

### 5.3 NaiveBayes

In [0]:
# NaiveBayes

from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator